body {
    padding: 0;
    margin: 0;
    font-family: "WorkSans", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #151c22;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

